<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="TourAgencyDB"
			 connectionString="Data Source=DESKTOP-G98CCD4;Initial Catalog=TourAgencyDB;Integrated Security=True;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>